<!DOCTYPE html>
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Paradise Winery Website</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<header th:fragment="nav" data-role="Header" id="navbar">
    <div id="sidebar">
        <div style="  margin-top: auto;  margin-left: 1.2rem" class="nav-item">
            <form th:method="get">
                <label class="text-white" style="font-size: small"
                       for="lang" th:text="#{nav_bar_language}">Language</label>
                <select style="background-color: #e4f0f4;
                                            border-color: #4e555b"
                        id="lang"
                        name="lang"
                        onchange="this.form.submit()">
                    <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English
                    </option>
                    <option value="de_DE" th:selected="${#locale.toString()} == 'de_DE'">German
                    </option>
                    <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български
                    </option>
                </select>

            </form>
        </div>
        <div class="logged-user"><br>
<!--            th:text="#{nav_bar_welcome}"-->
            <a>Welcome,</a>
            <th:block sec:authentication="name"></th:block>
            !
        </div>
        <a th:href="@{/}" class="logo"><img src="/images/logo.jpg" alt=""></a>
        <ul>
<!--            <th:block th:object="${}"></th:block>-->
            <li style="float:right;">
                <a th:href="@{/cart}" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
<!--                    <span th:text="${cart.items.size()}">0</span>-->
                </a>
            </li>
            <li class="selected">
                <span><a th:href="@{/}"
                         th:text="#{nav_bar_home}">home</a></span>
            </li>
            <li>
                <span><a th:href="@{/wines/all}" th:text="#{nav_bar_all_wines}">our wines</a></span>
            </li>
            <li>
                <span><a th:href="@{/history}" th:text="#{nav_bar_history}">history</a></span>
            </li>
            <li>
                <span><a th:href="@{/about}" th:text="#{nav_bar_about}">about us</a></span>
            </li>
            <th:block sec:authorize="!isAuthenticated()">
            <li>
                <span><a th:href="@{/users/register}" th:text="#{nav_bar_subscribe}">register</a></span>
            </li><li>
                <span><a th:href="@{/users/login}"
                        th:text="#{nav_bar_login}">login</a></span>
            </li>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <li>
                    <form class=" navbar-link"
                          th:action="@{/users/logout}"  method="post">
                        <button                            th:text="#{nav_bar_logout}"
                                type="submit" class="navbar-link">

                            <a >LOGOUT</a>
                        </button>
                    </form>
                </li>
            </th:block>
                <li>
                    <span><a th:href="@{/wine}"  th:text="#{nav_bar_buy_wine}">Buy wine</a></span>
                </li>
            <li>

            <th:block  sec:authorize="hasRole('ROLE_ADMIN')" >
                <a th:href="@{/wine/add}" th:text="#{nav_bar_add_wine}">Add New Wine</a>
                <a
                        th:href="@{/stat}">Statistics</a>
            </th:block>
            </li>
            <li>
                <span><a th:text="#{nav_bar_profile}"
                        th:href="@{/users/profile}">profile</a></span>
            </li>
            <li>
                <span><a th:text="#{nav_bar_contact}"
                        th:href="@{/contact}">contact</a></span>
            </li>

        </ul>
<!--        <div id="admin" sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">-->
<!--            <nav class="main-nav">-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        <a href="/">Admin Panel</a>-->
<!--                        <ul>-->
<!--                            <li>-->
<!--&lt;!&ndash;                                th:text="#{nav_bar_statistics}"&ndash;&gt;-->
<!--                            <li><a-->
<!--                                   th:href="@{/statistic}">Statistics</a></li>-->
<!--&lt;!&ndash;                            th:text="#{nav_bar_add_articles}"&ndash;&gt;-->
<!--                            <li><a-->
<!--                                   th:href="@{/wine/add}">Add wine</a></li>-->
<!--&lt;!&ndash;                            th:text="#{nav_bar_all_articles}"&ndash;&gt;-->
<!--                            <li><a-->
<!--                                   th:href="@{/wines }">All Wines</a></li>-->


<!--                        </ul>-->
<!--                    </li>-->

<!--                </ul>-->
<!--            </nav>-->

<!--        </div>-->
        <div class="contact">
            <ul>
                <li class="address">
                    <span>address</span>
                    <ul>
                        <li>
                           Aleko Konstantinov 39
                        </li>
                        <li>
                            5000 Veliko Tarnovo
                        </li>
                        <li>
                            Bulgaria
                        </li>
                    </ul>
                </li>
                <li class="contactInfo">
                    <span>contact info</span>
                    <ul>
                        <li>
                            +00359 899 199 149
                        </li>
                        <li>
                            +00359 886 236 483
                        </li>
                    </ul>
                </li>
                <li class="mail">
                    <span>email</span>
                    <ul>
                        <li>
                            <a th:href="@{/}">info@kamenovi-winery.co.uk</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="connect">
            <b>follow us</b>
            <p>
                In hendrerit sollicitudin eros, sit amet tincidunt magna condimentum id.
            </p>
            <ul>
                <li id="facebook">
                    <a href="http://freewebsitetemplates.com/go/facebook/">facebook</a>
                </li>
                <li id="twitter">
                    <a href="http://freewebsitetemplates.com/go/twitter/">twitter</a>
                </li>
                <li id="googleplus">
                    <a href="http://freewebsitetemplates.com/go/googleplus/">googleplus</a>
                </li>
                <li id="connectemail">
                    <a href="http://www.freewebsitetemplates.com/misc/contact">email</a>
                </li>
            </ul>
        </div>
        <div class="newsletter">
            <b>join our mailing list</b>
            <form action="index.html">
                <input type="text" name="email" value="Enter email-address" id="email">
                <input type="submit" name="submit1" value="Sign up!" id="submit1">
            </form>
        </div>
    </div>

</header>
<body >

</body>
<div th:fragment="footer" id="footer">
    <ul>
        <li class="selected">
            <a href="index.html">home</a>
        </li>
        <li>
            <a href="wines.html">our wines</a>
        </li>
        <li>
            <a href="history.html">history</a>
        </li>
        <li>
            <a href="about.html">about</a>
        </li>
        <li>
            <a href="blog.html">blog</a>
        </li>
        <li>
            <a href="contact.html">contact</a>
        </li>
    </ul>
    <p>
        &copy; <a href="">Paradise Kamenovi Winery</a> 2024. All Rights Reserved.
    </p>
</div>
</html>