<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >

<link rel="stylesheet" href="/css/reset-css.css">
<head th:replace="fragments/commons::head">

</head>
<header th:replace="fragments/commons::nav"></header>

<div style="margin-left: 30rem;
margin-top: 6rem;
color: palevioletred;
text-autospace: ideograph-space;
font-weight: bold;
font-size: larger;
line-height: 1.5;
" class="container-fluid">
  <h5 class="text-center text-white mt-5">Upps, the thingy that you are looking for is no longer here!</h5>
  <h5 class="text-center text-white mt-5">We are veeeery sorry.</h5>
  <img style="width: 50%;height: auto" th:src="@{/images/broken.jpg}" alt="Broken plate">
  <br/>
  <a style="margin-top: 100px" th:href="@{/}">Please navigate to home... Thanks a lot ;)</a>
</div>

<div>
  <footer th:replace="fragments/commons::footer">

  </footer>
</div>

</body>
</html>
