<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
</head>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/cart-view.css">
<link rel="stylesheet" href="/css/reset-css.css">
<link href="/skin/frontend/stenik/site/css/open-sans-font.css" rel="stylesheet">
<body>
<th:block th:replace="~{fragments/commons::nav}"></th:block>
<th:block  >
<div class="cart-sidebar-wrapper">
    <h1 class="cart-title">Your Cart</h1>
<div class="shopping-cart-items" id="shopping-cart-table">
    <table >
        <tr>
            <th>Wine</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        <tr  th:each="item : ${cart.items}">
            <td style="padding-right: 30px;" th:text="${item.wine.name}"><div class="cell col1" > </div></td>
            <td th:text="${item.quantity}"><div class="cell col2" ></div></td>
<!--            <td  th:text="${item.wine.price * item.quantity}"><div class="cell col3" ></div></td>-->
            <td style="padding-right: 20px;" ><div class="cell col3" > <strong>Subtotal:		</strong></div></td>
             <td style="padding-right: 20px;">   <span class="special-price">
                            <span class="price" th:text="${item.subtotal}" ></span></span></td>
            <td>
                <form th:action="@{/cart/remove}" method="post">
                    <input type="hidden" th:value="${item.id}" name="cartItemId" />
                    <button type="submit">Remove</button>
                </form>
            </td>
        </tr>
    </table>
<!--    <div class="cart-row header-row" >-->
<!--        -->
<!--        <div class="cell col1" >Your Wine: </div>-->
<!--        <div class="cell col2" >Ед. цена</div>-->
<!--        <div class="cell col3">Брой</div>-->
<!--        <div class="cell col4">Сума</div>-->
<!--        <div class="cell col5">&nbsp;</div>-->
<!--     -->
<!--    </div>-->

    <div class="cart-row item">

        <div class="cell col1">
            <a href=""
               title="Wine" class="cart-img-wrapper">
                <img >
            </a>

            <div class="cart-info">
                <a class="item-title"
                   href="">
                    </a>



<!--                <div class="attribute-list-content" th:each="item : ${cart.getItems()}">-->

                    <ul class="attribute-list">
                        <li>
                            <strong >Total sum:		</strong>
                            <span class="special-price">
                            <span class="price" th:text="${total}" ></span></span>
                        </li>
                    </ul>
                </div>
                Delivery date <strong th:text="${futureDate}"> 26.09.2024</strong>
            </div>

        </div>

<!--        <div class="cell col2">-->
<!--            <div class="price-box">-->


<!--                    <span  >359<span class="precision">,99</span>&nbsp;-->
<!--                        <span class="currency">лв.</span></span>-->
<!--            </div>-->

<!--        </div>-->
        <!-- inclusive price starts here -->

<!--        <div class="cell col3">-->
<!--            <div class="spinner-box">-->
<!--                <span class="ui-spinner ui-corner-all ui-widget ui-widget-content" style="height: 30px;">-->
<!--                    <input type="text" name="cart[32241637][qty]" class="amount ui-spinner-input" value="1" id="spinner-32241637" title="Брой" aria-valuemin="1" aria-valuemax="50" aria-valuenow="1" autocomplete="off" role="spinbutton">-->
<!--                    <a tabindex="-1" aria-hidden="true" class="ui-spinner-button ui-spinner-up ui-corner-tr"></a>-->
<!--                    <a tabindex="-1" aria-hidden="true" class="ui-spinner-button ui-spinner-down ui-corner-br"></a></span>-->
<!--                <span class="loader" id="row_loader32241637" style="display: none;"></span>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="cell col4">-->
<!--            <div class="price-box">-->
<!--            <span class="regular-price">-->
<!--                <span class="price">-->
<!--                    <span class="price">359<span class="precision">,99</span>&nbsp;-->
<!--                        <span class="currency">лв.</span></span></span>-->
<!--            </span>-->
<!--            </div>-->
<!--        </div>-->

        <div class="cell col5">
            <a href=""
               id="delete_item" class="item-remove" title="Remove">
                <svg aria-hidden="true" class="icon-svg close"><use
                        xlink:href=""></use></svg>
            </a>

        </div>
    </div>






<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

<div class="article">



<a th:href="@{/order/checkout}" style="color: lightpink">Checkout</a>
    <div class="clearH2"></div>

    <a href="javascript:;" style="color: lightgoldenrodyellow"
       class="button continue-shopping left white-background" onclick="window.history.back(); return false;">
        <span class="back-arrow"></span>
        Continue shopping               </a>
</div>
</div>
</div>
</th:block>

</body>
<div style="margin-top: 10rem"
     th:replace="~{fragments/commons::footer}"></div>
</html>