<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/commons::head">

</head>
<link rel="stylesheet" href="/css/edit-wine.css">
<link rel="stylesheet" href="/css/reset-css.css">
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="fragments/commons::nav">
    </header>

    <h1 class="title" style="">Edit Wine</h1>
    <!-- Top Container -->

    <form id="edit-route-form" class="w-50 rounded text-white mt-5"
          th:action="@{/wines/{id}(id=${wine.id})}"
          th:method="patch" th:object="${wine}">
        <input type="hidden" th:field="*{id}" />

        <div class="form-style-5 ">

            <!--                            <textarea name="field3" placeholder="About yourself"></textarea>-->

            <fieldset>
                <input th:field="*{imageUrl}"
                       th:errorclass="'is-invalid bg-danger'"
                       required
                       type="text"
                       name="imageUrl"
                       id="imageUrl"
                       class="form-control"
                       placeholder="Image Url"
                       accept="image/png, image/jpeg">
                <small th:each="error :${#fields.errors('imageUrl')}"
                       th:text="${error}"
                       th:class="'invalid-feedback text-danger'"  id="inputImageError">can't be empty!</small>

                <!--                <label             th:text="#{nav_bar_login_art_title}"></label>-->
                <input th:field="*{name}"
                       th:errorclass="'is-invalid bg-danger'"
                       minlength="5"
                       required
                       type="text" name="name"
                       placeholder="Wine name">
                <small th:each="error :${#fields.errors('name')}"
                       th:text="${error}"
                       th:class="'invalid-feedback text-danger'"  id="inputNameError"> Name must be more then 5 letters!</small>
                <label >

                    <!--                    <label th:text="#{nav_bar_login_art_content}" ></label>-->
                    <textarea th:field="*{description}"
                              th:errorclass="'is-invalid bg-danger'"
                              required
                              type="text"
                              class="description" name="description"
                              placeholder="Wine Description"></textarea>
                </label>
                <small th:each="error :${#fields.errors('description')}"
                       th:text="${error}"
                       th:class="'invalid-feedback text-danger'"
                       id="inputContentError"> Description must be more then 10 letters!</small>

                <input th:field="*{brand.name}"
                       th:errorclass="'is-invalid bg-danger'"
                       minlength="5"
                       required
                       type="text" name="brand"
                       placeholder="Wine brand">
                <small th:each="error :${#fields.errors('brand.name')}"
                       th:text="${error}"
                       th:class="'invalid-feedback text-danger'"  id="inputBrandNameError"> can't be empty!</small>

                <input th:field="*{brand.description}"
                       th:errorclass="'is-invalid bg-danger'"
                       minlength="5"
                       required
                       type="text" name="brand"
                       placeholder="Wine description">
                <small th:each="error :${#fields.errors('brand.description')}"
                       th:text="${error}"
                       th:class="'invalid-feedback text-danger'"
                       id="inputBrandDescError"> can't be empty!</small>

                <form  class="button" style="margin-top: 1rem" th:method="delete"
                      th:action="@{/brands/delete/{id}(id=${brand.id})}">
                    <input style="background-color: #0a7eb3;
                            color: darkorange;
                            font-size: medium"
                           type="submit" value="Remove"/><br><br>

                </form>
<!--                th:text="#{nav_bar_login_art_category}"-->
<!--                <label class="p-2" for="categories" >Category:</label>-->
<!--                <input  th:each="c:${T(com.kamenov.wineryspringrestapp.models.enums.CategoryEnum).values()}"-->
<!--                        th:field="*{category}"-->
<!--                       type="text" name="categories" id="categories"-->
<!--                       th:text="${#strings.toLowerCase(c)}"-->
<!--                       th:value="${c}">-->
<!--                <br>-->
                <label for="category" >Category:</label>
                <select th:field="*{category}"
                        th:errorclass="'is-invalid bg-danger'"
                        required
                        id="category"
                        type="text" name="category">
                    <optgroup label="">
                        <option value="category">Select category</option>
                        <option th:each="category : ${T(com.kamenov.wineryspringrestapp.models.enums.CategoryEnum).values()}"
                                th:value="${category}"
                                th:text="${category.name}"
                                th:selected="${wine.category}"
                        >
                        </option>
<!--&lt;!&ndash;                        <option th:each="c:${T(com.kamenov.wineryspringrestapp.models.enums.CategoryEnum).values()}"&ndash;&gt;-->
<!--&lt;!&ndash;                                th:value="${c}" th:text="${c}"&ndash;&gt;-->
<!--&lt;!&ndash;                                value="white"></option> &ndash;&gt;-->
<!--                    </optgroup>-->
                </select>
                <small th:each="error :${#fields.errors('category')}"
                       th:text="${error}"
                       th:class="'invalid-feedback text-danger'"  id="inputCategoryError"> Category can't be empty!</small>

                <input th:field="*{price}"
                       th:errorclass="'is-invalid bg-danger'"
                       required
                       type="number" name="price"
                       placeholder="Wine price">
                <small th:each="error :${#fields.errors('price')}"
                       th:text="${error}"
                       th:class="'invalid-feedback text-danger'"  id="inputPriceError"> can't be empty!</small>

                <input th:field="*{quantity}"
                       th:errorclass="'is-invalid bg-danger'"
                       required
                       type="number" name="quantity"
                       placeholder="Wine quantity">
                <small th:each="error :${#fields.errors('quantity')}"
                       th:text="${error}"
                       th:class="'invalid-feedback text-danger'"  id="inputQuantityError"> can't be empty!</small>


                <input th:field="*{year}"
                       th:errorclass="'is-invalid bg-danger'"
                       minlength="5"
                       required
                       type="number" name="year"
                       placeholder="Wine year">
                <small th:each="error :${#fields.errors('year')}"
                       th:text="${error}"
                       th:class="'invalid-feedback text-danger'"  id="inputYearError"> can't be empty!</small>



            </fieldset>
            <input  type="submit" value="Save" />

        </div>

    </form>

</div>
<div  style="background-color: burlywood;">
    <footer th:replace="fragments/commons::footer">

    </footer></div>
</body>
</html>
