<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/commons::head">

</head>
<link rel="stylesheet" href="/css/edit-wine.css">
<link rel="stylesheet" href="/css/reset-css.css">
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="fragments/commons::nav">
    </header>

    <h1 class="title" style="">Edit Article</h1>
    <!-- Top Container -->

    <form id="edit-route-form" class="w-50 rounded text-white mt-5" th:action="@{/wines/{id}(id=${wine.id})}"
          th:method="patch" th:object="${wine}">
        <input type="hidden" th:field="*{id}" />

        <div class="form-style-5 ">

            <!--                            <textarea name="field3" placeholder="About yourself"></textarea>-->

            <fieldset>
<!--                <label             th:text="#{nav_bar_login_art_title}"></label>-->
                <input th:field="*{name}"
                       th:errorclass="'is-invalid bg-danger'"
                       minlength="5"
                       required
                       type="text" name="title"
                       placeholder="Article Title">
                <small th:each="error :${#fields.errors('name')}"
                       th:text="${error}"
                       th:class="'invalid-feedback text-danger'"  id="inputNameError"> Name must be more then 5 letters!</small>

                <input th:field="*{brand}"
                       th:errorclass="'is-invalid bg-danger'"
                       minlength="5"
                       required
                       type="text" name="title"
                       placeholder="Article Title">
                <small th:each="error :${#fields.errors('brand')}"
                       th:text="${error}"
                       th:class="'invalid-feedback text-danger'"  id="inputBrandError"> can't be empty!</small>

                <input th:field="*{category}"
                       th:errorclass="'is-invalid bg-danger'"
                       minlength="5"
                       required
                       type="text" name="title"
                       placeholder="Article Title">
                <small th:each="error :${#fields.errors('name')}"
                       th:text="${error}"
                       th:class="'invalid-feedback text-danger'"  id="inputCategoryError"> Category can't be empty!</small>

                <input th:field="*{price}"
                       th:errorclass="'is-invalid bg-danger'"
                       minlength="5"
                       required
                       type="text" name="title"
                       placeholder="Article Title">
                <small th:each="error :${#fields.errors('name')}"
                       th:text="${error}"
                       th:class="'invalid-feedback text-danger'"  id="inputPriceError"> Name must be more then 5 letters!</small>

                <input th:field="*{name}"
                       th:errorclass="'is-invalid bg-danger'"
                       minlength="5"
                       required
                       type="text" name="title"
                       placeholder="Article Title">
                <small th:each="error :${#fields.errors('name')}"
                       th:text="${error}"
                       th:class="'invalid-feedback text-danger'"  id="inputTitleError"> Name must be more then 5 letters!</small>

                <input th:field="*{name}"
                       th:errorclass="'is-invalid bg-danger'"
                       minlength="5"
                       required
                       type="text" name="title"
                       placeholder="Article Title">
                <small th:each="error :${#fields.errors('name')}"
                       th:text="${error}"
                       th:class="'invalid-feedback text-danger'"  id="inputTitleError"> Name must be more then 5 letters!</small>

                <label >

<!--                    <label th:text="#{nav_bar_login_art_content}" ></label>-->
                    <textarea th:field="*{description}"
                              th:errorclass="'is-invalid bg-danger'"
                              required
                              class="article" name="article"
                              placeholder=" Your Article Content"></textarea>
                </label>
                <small th:each="error :${#fields.errors('description')}"
                       th:text="${error}"
                       th:class="'invalid-feedback text-danger'"
                       id="inputContentError"> Description must be more then 10 letters!</small>
            </fieldset>
            <input  type="submit" value="Save" />

        </div>

    </form>

</div>
<div  style="background-color: burlywood;">
    <footer th:replace="fragments/commons::footer">

    </footer></div>
</body>
</html>
