<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
</head>
<link rel="stylesheet" href="/css/reset-css.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/learn-more.css">

<body>
<th:block th:replace="~{fragments/commons::nav}"></th:block>

<h1>Tradition of Winery Kamenovi</h1>
<div>
    <p>
        The owner, Plamen Kamenov, was born in the village long across from the winery, city of Vratca,
        in a family with longstanding traditions in vinegrowing and winemaking.  Nikola decided to dedicate the second,
        wiser part of his life to reviving his family traditions and building a business for the generations to come. Together with his wife, ]
        Simona, he planted the vineyards and built the winery. They planted their vineyards with indigenous and international
        grape varieties with the clear mission to bring back the glory of the Melnik wine and to lead the Renaissance of the region.
        In 2013 we opened our winery - modernly equipped, with a dedicated and highly qualified team.
        Already with the construction of the winery, we opened the doors wide to all those who love wine and want to experience its creation.

        In 2015, after many years of studying and working abroad, our daughter
        Anna and our son Alex joined the family business to contribute to the creation of the modern legend of Melnik.

        We at Villa Paradise believe that with hard work and perseverance, an honest attitude to Wine and respect for Nature and the Customer,
        we can produce excellent world-class wines with a Kamenovi temperament.
    </p>
</div>

<th:block th:replace="~{fragments/commons::footer}"></th:block>
</body>

</html>