<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons::head">

</head>
<link rel="stylesheet" href="/css/reset-css.css">
<link rel="stylesheet" href="/css/register.css">
<link rel="stylesheet" href="/css/style.css">
<body>
<header th:replace="fragments/commons::nav"></header><br>
<div class="wrapper">
    <form
            th:method="post" th:action="@{/users/register}"
            th:object="${userRegisterDto}" enctype="multipart/form-data"
                    action="thank-you.html">
                <h2 style="margin-top: 3rem">Form Registration</h2>
        <input id="image"
        th:field="*{image}"
               class="form-control" type="file"
               accept="image/png, image/jpeg">

                        <div class="form-group fullname" >
                            <label for="fullname">Full Name</label>
                            <input th:field="*{fullName}"
                                   th:errorclass="'is-invalid bg-danger'"
                                   required minlength="3" maxlength="20"
                                    type="text"
                                    id="fullname"
                                    placeholder="Enter your full name">
                            <small th:each="e :${#fields.errors('fullName')}" th:text="${e}"
                                   id="fullNameError" class="invalid-feedback
        form-text bg-danger rounded">Full name length must be more than 3 characters</small>

                        </div>
                        <div class="form-group email">
                            <label for="email">Email Address</label>
                            <input type="text" id="email" placeholder="Enter your email address">
                        </div>
        <div class="form-group username">
            <label for="email">Username</label>
            <input th:field="*{username}"
                   th:errorclass="'is-invalid alert-danger'"
                   required minlength="3" maxlength="20"
                    type="text" id="username"
                   placeholder="Enter your username">
            <small th:if="${userExistsError}" id="usernameUniqueError"
                   class=" bg-danger rounded">Username is already occupied</small>
            <small th:each="e :${#fields.errors('username')}" th:text="${e}"
                   id="usernameError"
                   class="invalid-feedback bg-danger rounded">Username length must be more than 3 characters</small>


        </div>

                        <div class="form-group password">
                            <label for="password">Password</label>
                            <input th:field="*{password}"
                                   th:errorclass="is-invalid"
                                   required minlength="3" maxlength="20"
                                    type="password"
                                   id="password"
                                    name="password"
                                   placeholder="Enter your password">
<!--                            <label for="show-password" class="field__toggle">-->
<!--&lt;!&ndash;                                th:text="#{nav_bar_showPass}"&ndash;&gt;-->
<!--                                <input type="checkbox" id="show-password"-->
<!--                                       class="field__toggle-input" />-->
<!--                            </label>-->
                            <small th:if="${#fields.hasErrors('password')}"
                                   id="passwordError" class="bg-danger text-light rounded invalid-feedback">
                                Password length must be more than 3 characters long.
                            </small>
<!--                            <small th:each="e :${#fields.errors('password')}" th:text="${e}"-->
<!--                                   id="passwordError" class="invalid-feedback  form-text bg-danger rounded">-->
<!--                                Password length must be between 3 and 20 characters and passwords should match.</small>-->
<!--                            th:text="#{nav_bar_showPass}"-->
                        </div>
<!--        th:text="#{nav_bar_confirmPass}"-->
        <label for="confirmPassword"
               >Re-type Password:</label>

        <input th:field="*{confirmPassword}"
               required minlength="3" maxlength="20"
               th:errorclass="is-invalid"
               type="password"
               id="confirmPassword"
               name="confirmPassword"
               placeholder="Confirm password"/>
        <label for="show-password" class="field__toggle" >
            <input style="" type="checkbox" id="show-password" value="yes"
                   class="field__toggle-input" />Show password</label>
            <!--                                th:text="#{nav_bar_showPass}"-->

        <small th:if="${#fields.hasErrors('confirmPassword')}"
                id="confirmPasswordHelpInline" class="bg-danger text-light rounded invalid-feedback">
            Password length must be more than 3 characters long.
        </small>
<!--        <small th:each="e :${#fields.errors('password')}" th:text="${e}"-->
<!--               id="confirmPasswordError" class="invalid-feedback  form-text bg-danger rounded">-->
<!--            Password length must be between 3 and 20 characters and passwords should match.</small>-->
        <div class="form-group date">
                            <label for="age">Birth Date</label>
                            <input th:field="*{age}"
                                   min="18" max="90"
                                   th:errorclass="'is-invalid alert-danger'"
                                    type="date"
                                    id="age"
                                    name="age"
                                   placeholder="Select your date">
            <small th:each="e :${#fields.errors('age')}" th:text="${e}"
                   class="invalid-feedback text-danger">Age is invalid!</small>
                        </div>

                        <div class="form-group gender">
                            <label for="gender">Gender</label>
                            <select id="gender">
                                <option value="" selected disabled>Select your gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <input type="checkbox"
                           name="personal_info_agreement"
                           value="1">
                    <span style="font-size: 12px;">
                                        &nbsp;<b>By submitting this form,
                        I accept that the information entered may be
                        processed by Ancient HP within corporate purposes only and be kept for 3 years for future articles.</b>
                                    </span>

                </div>
            </div>
        </div>
                        <div class="form-group submit-btn">
                            <input type="submit" value="Submit">
                        </div>
                                            <p class="text-center text-muted mt-5 mb-0">Have already an account?
                                                <a th:href="@{/users/login}"
                                                   class="fw-bold text-body"><u>Login here</u></a></p>
                    </form>

                    <script src="script.js"></script>
                <!--    <section class="vh-100 bg-image"-->
<!--             style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">-->
<!--        <div class="mask d-flex align-items-center h-100 gradient-custom-3">-->
<!--            <div class="container h-100">-->
<!--                <div class="row d-flex justify-content-center align-items-center h-100">-->
<!--                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">-->
<!--                        <div class="card" style="border-radius: 15px;">-->
<!--                            <div class="card-body p-5">-->

<!--                                <h2 class="text-uppercase text-center mb-5">Create an account</h2>-->
<!--&lt;!&ndash;                                <small th:text="#{pictureNotRequired} + ':'"></small>&ndash;&gt;-->
<!--                                <form th:method="post" th:action="@{/users/register}"-->
<!--                                      th:object="${userRegisterDto}" enctype="multipart/form-data">-->
<!--&lt;!&ndash;                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"&ndash;&gt;-->
<!--&lt;!&ndash;                                         class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"&ndash;&gt;-->
<!--&lt;!&ndash;                                         alt="Sample photo">&ndash;&gt;-->
<!--                                    <input id="image"-->
<!--                                           th:field="*{image}"-->
<!--                                           class="form-control" type="file"-->
<!--                                           accept="image/png, image/jpeg">-->
<!--                                    <div data-mdb-input-init class="form-outline mb-4">-->
<!--                                        <input th:field="*{fullName}"-->
<!--                                                type="text" id="fullName"-->
<!--                                               class="form-control form-control-lg" />-->
<!--                                        <label class="form-label" for="fullName">Your Name</label>-->
<!--                                    </div>-->

<!--                                    <div data-mdb-input-init class="form-outline mb-4">-->
<!--                                        <input th:field="*{username}"-->
<!--                                               type="text" id="username"-->
<!--                                               class="form-control form-control-lg" />-->
<!--                                        <label class="form-label" for="username">Username</label>-->
<!--                                    </div>-->

<!--                                    <div data-mdb-input-init class="form-outline mb-4">-->
<!--                                        <input th:field="*{email}"-->
<!--                                                type="email" id="email"-->
<!--                                               class="form-control form-control-lg" />-->
<!--                                        <label class="form-label" for="email">Your Email</label>-->
<!--                                    </div>-->

<!--                                    <div data-mdb-input-init class="form-outline mb-4">-->
<!--                                        <input th:field="*{password}" type="password" id="password"-->
<!--                                               class="form-control form-control-lg" />-->
<!--                                        <label class="form-label" for="password">Password</label>-->
<!--                                    </div>-->

<!--                                    <div data-mdb-input-init class="form-outline mb-4">-->
<!--                                        <input th:field="*{confirmPassword}"-->
<!--                                                type="password" id="confirmPassword"-->
<!--                                                class="form-control form-control-lg" />-->
<!--                                        <label class="form-label" for="confirmPassword">Repeat your password</label>-->
<!--                                    </div>-->

<!--                                    <div class="form-check d-flex justify-content-center mb-5">-->
<!--                                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />-->
<!--                                        <label class="form-check-label" for="form2Example3cg">-->
<!--                                            I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>-->
<!--                                        </label>-->
<!--                                    </div>-->

<!--                                    <div class="d-flex justify-content-center">-->
<!--                                        <button  type="button" data-mdb-button-init-->
<!--                                                 data-mdb-ripple-init class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>-->
<!--                                    </div>-->

<!--                                    <p class="text-center text-muted mt-5 mb-0">Have already an account?-->
<!--                                        <a href="/users/login"-->
<!--                                           class="fw-bold text-body"><u>Login here</u></a></p>-->

<!--                                </form>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
</div>


</body>
<div style="margin: 0 auto -60rem -40rem;" ><footer th:replace="fragments/commons::footer"></footer></div>

<script type="text/javascript">


    var username = document.querySelector( "#username" );
    var password = document.querySelector( "#password" );
    var confirmPassword = document.querySelector( "#confirmPassword" );
    var toggle = document.querySelector( "#show-password" );



    username.value = "";
    password.value = "";
    confirmPassword.value = "";

    toggle.addEventListener( "click", handleToggleClick, false );

    function handleToggleClick( event ) {

        if ( this.checked ) {

            console.warn( "Change input 'type' to: text" );
            password.type = "text";
            confirmPassword.type = "text";

        } else {

            console.warn( "Change input 'type' to: password" );
            password.type = "password";
            console.warn( "Change input 'type' to: confirmPassword" );
            confirmPassword.type = "confirmPassword";

        }

    }

</script>
</html>