<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
</head>
<link rel="stylesheet" href="/css/reset-css.css">
<link rel="stylesheet" href="/css/wine-details.css">
<body>
<th:block th:replace="~{fragments/commons::nav}"></th:block>

<div class="wine-details-main">
    <th:block th:each="w : ${wine}">
    <a class="figure" href="#"><img th:src="${wine.imageUrl}" alt=""></a>
    <h3 th:text="${wine.name}">Lorem ipsum</h3>
    <p th:text="${wine.description}">
        Pellentesque a placerat dui. Suspendisse laoreet placerat turpis vel semper.
    </p>
    <h2 > <span >Quantity:</span>  <span th:text="${wine.quantity}"></span></h2><br>
    <h2 > <span >Category:</span>  <span th:text="${wine.category}"></span></h2>
        <h2 > <span >Brand name:</span>  <span th:text="${wine.brand.name}"></span></h2><br>
        <h2 > <span >Brand description:</span>  <span th:text="${wine.brand.description}"></span></h2><br>
    <h2 > <span >Price:</span>  <span th:text="${wine.price}"></span></h2><br>

    <form th:action="@{/wine/buy/{id}(id=${wine.id})}" method="post">
        <button type="submit">Buy Now</button><br><br>

    </form>
        <form> <a th:method="post" th:href="@{/cart/add/{id}(id=${wine.id})}" type="submit">Add in cart</a></form>

<!--        <form th:action="@{/cart/add/{id}(id=${wine.id})}" method="post">-->
<!--            <input type="hidden" th:value="${wine.id}" name="productId"/>-->
<!--            <button type="submit">Add to Cart</button>-->
<!--        </form>-->
<!--        <form class="media" th:method="post" th:action="@{/cart/add/{id}(id=${wine.id})}">-->
<!--            <button type="submit" >Add to cart</button>-->
<!--        </form>-->


<!--        sec:authorize="hasRole('ROLE_ADMIN')"-->
        <div id="admin" >
        <form class="button" style="margin-top: 1rem" th:method="delete"
              th:action="@{/wine/{id}(id=${wine.getId()})}">
            <input style="background-color: #0a7eb3;
                            color: darkorange;
                            font-size: medium"
                   type="submit" value="Remove"/><br><br>

            <a th:href="@{/edit/{id}(id=${wine.id})}" class="button">Edit Wine</a><br><br>
        </form>
    </div>
</th:block>
</div>
</body>
<th:block th:replace="~{fragments/commons::footer}"></th:block>
</html>